{% extends 'layout.twig' %}

{% block body %}
    <h2>trending today</h2>
    <div class="row">
    {% for post in posts %}
        <div class="col-md-4 trending">
            {% include "post.twig" %}
        </div>
    {% endfor %}
    </div>

    <h2>Trending today</h2>
    {% for post in posts %}
        {% include "post.twig" %}
    {% endfor %}
{% endblock %}
